.Web3DotZero {
    margin-top: 2em;
}

.mobileImage {
    width: 100%;
}

.desktopImage {
    width: 100%;
}

.hero-bottom-ctn {
    padding-top: 1em;
}

.hero-bottom-ctn h1 {
    padding-bottom: 0.5em;
    font-size: 45px;
    font-weight: 800;
    width: 85%;
    line-height: 1;
}

.hero-read-more p {
    line-height: 1.7;
    font-weight: 500;
}

button {
    margin-top: 1.5em;
    border: none;
    width: 55%;
    height: 50px;
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (min-width: 900px) {
    
    .desktopImage {
        max-height: 290px;
        max-width: 700px;
    }
    div.hero-bottom-ctn {
        display: grid;
        grid-template-columns: auto auto;
        padding-top: 2em;
        width: 560px;
        margin-right: 0 !important;
    }

    .hero-bottom-ctn h1 {
        display: flex;
        font-size: 55px;
        width: 300px;
        margin-right: 1em;
        
    }

    .hero-read-more p {
      width: 335px;
      font-size: 15px;
      line-height: 1.5;
    }

    button {
        height: 50px;
    }
}

@media screen and (min-width: 500px) and (max-width: 1185px) {
    .hero-bottom-ctn h1 {
        font-size: 40px;
        margin-right: 0;
        line-height: 1.5;
    }

    .hero-bottom-ctn p {
        font-size: 14px;
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    .hero-bottom-ctn p {
        width: 100%;
    }
}