.Web3DotZero {
    margin-top: 2em;
}

.mobileImage {
    width: 100%;
}

.desktopImage {
    width: 100%;
}

.hero-bottom-ctn {
    padding-top: 1em;
}

.hero-bottom-ctn h1 {
    padding-bottom: 0.4em;
    font-size: 45px;
    font-weight: 800;
    line-height: 1;
}

.hero-read-more p {
    line-height: 2;
    font-weight: 500;
    font-size: 15px;
    color: hsl(233, 8%, 79%) !important;
}

button {
    margin-top: 1.5em;
    border: none;
    width: 55%;
    height: 50px;
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: hsl(240, 100%, 5%);
}

@media screen and (min-width: 900px) {
    
    .desktopImage {
        max-height: 205px;
        max-width: 500px;
    }
    div.hero-bottom-ctn {
        display: flex;
        flex: 2;
        
        margin-right: 0 !important;
    }

    .hero-bottom-ctn h1 {
        display: flex;
        font-size: 40px;
        width: 210px;
        margin-right: 1em;
       
        
    }

    .hero-read-more p {
      width: 250px;
      font-size: 11px;
      line-height: 1.5;
    }

    button {
        height: 35px;
        font-size: 12px;
        width: 130px;
    }
}

